Demos/FirstCuda/.vs
Demos/ThirdCuda/x64
Demos/FirstCuda/x64
Demos/FirstCuda/FirstCuda/x64
Demos/GlCuda1/x64
Demos/DSR/x64
Demos/Julia/x64/Debug
Demos/Wave/x64/Debug
Demos/Dot/x64/Debug
Demos/RayTracing/x64
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Cuda122Demos/.vs
Cuda122Demos/ConsoleApplication1/x64
Cuda122Demos/GlutCuda/x64
.vs
Cuda122Demos/mutil-thread-opengl/mutil-thread-opengl/x64
Cuda122Demos/x64
Cuda122Demos/mutil-thread-opengl/x64
